:root {
    --nav-height: 60px;
    --nav: rgba(255, 255, 255, 0.3);
    --bg-1: #8e44ad;
    --bg-2: #27ae60;
    --bg-3: #f39c12;
    --bg-4: #3f5efb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    background: var(--bg-1);
    box-shadow: 0px 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 10;
    gap: 15px;
}

nav.scrolled {
    background-color: var(--nav);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 2px cyan;
}

nav a {
    position: relative;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  transform-origin: center;
  width: 100%;
  background: cyan;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.8s ease;
}
nav a.active {
    color: cyan;
}

nav a.active::after {
  transform: translateX(-50%) scaleX(1);
}
nav a:focus {
  outline: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
section {
    width: 90%;
    height: 100vh;
    border-radius: 16px;
    padding: calc(var(--nav-height) + 20px) 40px 20px 40px;
}
section p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
section h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

#home {
    background: var(--bg-1);
}

#about {
    background: linear-gradient(to bottom right, var(--bg-2), var(--bg-4));
}

#services {
    background: linear-gradient(to bottom right, var(--bg-3), var(--bg-2));
}

#contact {
    background: linear-gradient(to bottom right, var(--bg-4), var(--bg-1));
}

@media (max-width: 786px) {
    nav a {
        font-size: 1.3rem;
        padding: 8px;
    }
    section h1 {
        font-size: 2rem;
    }
    section p {
        font-size: 1.2rem;
    }
}
@media (max-width: 480px) {
    nav a {
        font-size: 1.1rem;
        padding: 6px;
    }
    section h1 {
        font-size: 2rem;
    }
    section p {
        font-size: 1.1rem;
    }
}
@media (hover: hover) and (pointer: fine) {
  nav a:hover {
    border-radius: 8px;
    background: var(--nav);
  }

  nav.scrolled a:hover {
    background: color-mix(in srgb, var(--bg-1), transparent 30%);

  }
}
